@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #202020;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

img {
  max-width: 100%;
}

button {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1278px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(20px);
  background: rgba(50, 50, 50, 0.7);
  padding: 10px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 800;

  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav {
  display: flex;
  gap: 60px;
}

.header__link {
  font-weight: 700;
  font-size: 18px;
}

/* hero section */
.hero__section {
  padding: 130px 0 80px;
}
.hero__section .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__title {
  max-width: 390px;
  font-size: 54px;
  line-height: 119%;
  letter-spacing: -0.01em;
  color: #dedede;
  margin-bottom: 25px;
}

.hero__desc {
  max-width: 410px;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #959595;
  margin-bottom: 80px;
}

.hero__img {
  width: 400px;
  height: 400px;

  border-radius: 50%;
  object-fit: cover;
}

.btn {
  max-width: 300px;
  border-radius: 4px;
  padding: 15px;
  background: #9d9d9d;
  font-size: 20px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  margin-bottom: 145px;

  transition:
    transform 300ms ease-in-out,
    color 300ms ease-in-out;
}
.btn:hover {
  color: #202020;
  transform: scale(1.1);
}
.work__button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #dedede;
  opacity: 0.7;
}

/* work__section */

.work__button {
  display: flex;
  align-items: center;

  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #dedede;

  gap: 25px;
  margin-bottom: 80px;
}

.works__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  margin-bottom: 280px;
}

.work {
  height: 888px;
  position: relative;
}

.work:nth-child(even) {
  position: relative;
  top: 140px;
}

.work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.work__name {
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  font-weight: 700;
  font-size: 40px;

  background-color: rgba(0, 0, 0, 0.6);

  transition: opacity 300ms ease-in-out;
}

.work__name:hover {
  opacity: 1;
}

.exploration__list {
  margin-bottom: 240px;
}

.exploration__title {
  font-size: 36px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #dedede;
  margin-bottom: 65px;
}

/* использование grid ВАЖНО! */
.exploration__list-time {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.exploration__item-img {
  width: 400px;
  height: 400px;

  object-fit: cover;
  object-position: center;
}

.projects {
  margin-bottom: 240px;
}

.projects__title {
  font-size: 36px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #dedede;
  margin-bottom: 66px;
}

.projects__list-itme {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.projects__item-img {
  width: 400px;
  height: 560px;

  object-fit: cover;
  object-position: center;
}

/* footer  */


.contact__text-title {
  font-size: 36px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #dedede;
  margin-bottom: 24px;
}

.contact__text-desc {
  margin: 0 auto;
  width: 520px;
  font-size: 26px;
  line-height: 146%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #959595;
  margin-bottom: 48px;
}

.footer .btn {
  margin: 0 auto;
  margin-bottom: 120px;
}

.footer__end {
  margin-bottom: 40px;
}

.footer__end .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer__end-line {
  border: none;
  background-color: #696969;
  height: 1px;
  margin-bottom: 50px;
}

.end__text-copy {
  letter-spacing: -0.03em;
  color: #959595;
}

.end__text-copy-decorated {
  letter-spacing: -0.03em;
  color: #ececec;
}

.footer__end-socials {
  display: flex;
  align-items: center;
  gap: 20px;
  
}


