@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #202020;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.container {
  max-width: 1278px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
    position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(20px);
  background: rgba(50, 50, 50, 0.7);
  padding: 10px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 800;

  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav {
  display: flex;
  gap: 60px;
}

.header__link {
  font-weight: 700;
  font-size: 18px;
}

/* hero section */
.hero__section {
  padding: 130px 0 80px;
}
.hero__section .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__title {
  max-width: 390px;
  font-size: 54px;
  line-height: 119%;
  letter-spacing: -0.01em;
  color: #dedede;
  margin-bottom: 25px;
}

.hero__desc {
  max-width: 410px;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #959595;
  margin-bottom: 80px;
}

.hero__img {
  width: 400px;
  height: 400px;

  border-radius: 50%;
  object-fit: cover;
}

.btn {
  max-width: 300px;
  border-radius: 4px;
  padding: 15px;
  background: #9d9d9d;
  font-size: 20px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  margin-bottom: 145px;

  transition: transform 300ms ease-in-out, color 300ms ease-in-out;

}
.btn:hover {
  color: #202020;
  transform: scale(1.1);
  
}
.arrow {
  display: flex;
  align-items: center;
  gap: 30px;

  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #dedede;
  opacity: 0.7;
}
